<p id="notice"><%= notice %></p>

<p>
  <strong><%= $game.title %></strong>
</p>

<p>
  <strong>Description:</strong>
  <%= $game.description %>
</p>

<div id="show_image">
  <%= image_tag($game.image_url, :size => '500x350')  %>
</div>

<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>$<%= $game.price %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= $game.title %>"
          data-amount="<%=($game.price) * 100 %>"
          data-locale="auto">
  </script>
<% end %>

<%= link_to 'Edit', edit_game_path($game) %> |
<%= link_to 'Back', games_path %>
