<!DOCTYPE html>
<html>
  <head>
    <title>DevSiteAlpha</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice">
      <%= notice %>
    </p>
    <p class="alert">
      <%= alert %>
    </p>
    <%= image_tag 'https://i.imgur.com/D8T9h9s.png' %>

    <nav class="navbar navbar-expand-md navbar-light bg-light float-right">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">
              Home
              <span class="sr-only">
                (current)
              </span>
            </a>
          </li>
          <li class="nav-item">
            <%= link_to('Games', games_path, :class=>"nav-link") %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="forums">
              Forums
            </a>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to('Logout', destroy_user_session_path, method: :delete, :class=>"nav-link") %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to('Login', new_user_session_path, :class=>"nav-link")  %>
            </li>
          <% end %>
          <li class="nav-item">
            <a class="nav-link" href="help">
              Help
            </a>
          </li>
        </ul>
    </nav>

    <%= yield %>

  </body>
</html>
